<!DOCTYPE html>
<html>
  <head>
      <title></title>
      <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/static/styles/intlTelInput.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="contactForm" role="form">
                    <div class="form-group">
                        <h3>Enter a phone number to begin playing fizzbuzz</h3>
                        <p class="help-block">
                            Enter a phone number
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" id="phoneNumber"
                            placeholder="" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Enter
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/intlTelInput.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
